@model ArticleViewModel
@{
    ViewBag.Title = "ArticleDetails";
}

<h2>@Model.Title</h2>

<h3>@Model.Author</h3>

<p>@Model.Content</p>

@*@Html.Action("Comment", "Article", new { articleId = Model.Id })*@

@*@if(User.Identity.IsAuthenticated)
{
@Html.Partial("_CommentPartial")
}*@
@if (User.Identity.IsAuthenticated)
{
    using (Ajax.BeginForm("Comment", "Article",
                                        new AjaxOptions()
                                        {
                                            UpdateTargetId = "comment",
                                            InsertionMode = InsertionMode.Replace,
                                            HttpMethod = "POST"
                                        }))
    {
        @*<textarea></textarea>
        <input type="submit" value="Save" />*@
        @Html.AntiForgeryToken()
        <div id="comment-box">
            @Html.HiddenFor(m => m.CommentViewModel.ArticleId)
            @Html.TextAreaFor(m => m.CommentViewModel.Content, "Comment: ")
        </div>

        <div>
            <input type="submit" value="Save" />
        </div>
    }

    <div id="comment">
        @Html.Partial("_CommentPartial", Model)
    </div>

}

@section scripts{
    @Scripts.Render("~/bundles/jqueryajax")
}