@model ArticleViewModel
@{
    ViewBag.Title = "ArticleDetails";
}

<h2>@Model.Title</h2>

<h3>@Model.Author</h3>

<p>@Model.Content</p>

@if (User.Identity.IsAuthenticated)
{
        @Html.Partial("_LikeArticle", Model)

}
else
{
    <div>
        Likes: @Model.Likes.Count()
    </div>
}


@if (User.Identity.IsAuthenticated)
{
    using (Ajax.BeginForm("Comment", "Article",
                                        new AjaxOptions()
                                        {
                                            UpdateTargetId = "comment",
                                            InsertionMode = InsertionMode.Replace,
                                        }))
    {
        @*<textarea></textarea>
            <input type="submit" value="Save" />*@
        @Html.AntiForgeryToken()
        <div id="comment-box">
            <h3 id="add-comment">Добави коментар</h3>
            @Html.HiddenFor(m => m.CommentViewModel.ArticleId)
            @Html.TextAreaFor(m => m.CommentViewModel.Content, new { @id = "comment-textbox" })
        </div>

        <div>
            <input type="submit" id="save-comment" value="Save" />
        </div>
    }

    <div id="comment">
        @Html.Partial("_CommentPartial")
    </div>

}
@section scripts{
    @Scripts.Render("~/bundles/jqueryajax")
}