@model Sentio.Areas.Admin.Models.ArticleContainerViewModel

@{
    ViewBag.Title = "DeleteArticle";
}

<h2>Articles</h2>
@if (@Model.Articles != null)
{
    foreach (var article in @Model.Articles)
    {
        <div>
            Author: @article.Author
        </div>
        <div>
            Title: @article.Title
        </div>
      
using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>

        @*<button id="delete" onclick="loadDelete"()>Delete</button>*@
        <input type="submit" class="button" value="Delete" />
    </div>
        }

    }
}

@section scripts{
    
}
