@model Sentio.Data.ViewModels.ProfileViewModel
@{
    ViewBag.Title = "UserProfile";
}

<h2>Здравей, @Model.Username.Substring(0, @Model.Username.IndexOf('@')).ToUpper()</h2>

@if (Model.Events != null)
{
    foreach (var newEvent in @Model.Events)
    {
        <div id="title">
            @newEvent.Name.ToUpper()
        </div>
        <div id="content">
            @newEvent.Description.Substring(0, 350)
            <a href="EventDetails/@newEvent.Id">[...]</a>
        </div>
    }
}
else
{
    <h3>Нямате предстоящи събития</h3>
}


@*@Html.Action("UserEvents")*@
